<a href="https://colab.research.google.com/github/PranjalDureja0002/Health_Fraud/blob/main/Untitled82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_fwf("/content/world.txt")
df

,Unnamed: 0,Unnamed: 1,Hello,World,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,My,name,is,Pranjal,Dureja
1,To,begin,with:,NaN,NaN,NaN,NaN,NaN
2,1.,one,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import os
from collections import Counter
import pandas as pd
#print(os.getcwd())
infile = "world.txt"

In [ ]:
import re

df_list = []
with open(infile) as f:
    for line in f:
        # remove whitespace at the start and the newline at the end
        #line = line.strip()
        # split each column on whitespace
        columns = re.split('\s+', line)
        df_list.append(columns)

In [ ]:
df = pd.DataFrame(df_list)
df.head(15)

     0      1      2     3        4       5     6
0               None  None     None    None  None
1       Hello  World           None    None  None
2          My   name    is  Pranjal  Dureja
3               None  None     None    None  None
4               None  None     None    None  None
5               None  None     None    None  None
6               None  None     None    None  None
7               None  None     None    None  None
8               None  None     None    None  None
9   To  begin  with:           None    None  None
10  1.    one   None  None     None    None  None

In [ ]:
df[0].values

array(['', '', '', '', '', '', '', '', '', 'To', '1.'], dtype=object)

In [ ]:
df.replace(np.nan, '')

,Unnamed: 0,Unnamed: 1,Hello,World,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,,,,My,name,is,Pranjal,Dureja
1,To,begin,with:,,,,,
2,1.,one,,,,,,

In [ ]:
df['World'].values

array(['My', ' ', ' '], dtype=object)

In [ ]:
df.to_csv('new_world4.txt', header=None, index=None, sep=' ', mode='a')

In [ ]:
df = pd.read_csv("world.txt", delim_whitespace=True)
df.head()

                  Hello   World
My name  is     Pranjal  Dureja
To begin with:      NaN     NaN
1. one   NaN        NaN     NaN

In [ ]:
f = open("new_world2.txt", "r")
text=f.read()
f.close()
f=open("new_world2.txt", "w+")
text2=''
if ' ' in text:
    text2 = text.replace(' ' , '_')
    #print(text2)
    f.write(text2)
f.close()

In [ ]:
df['Hello'].values

array([nan, 'with:', nan], dtype=object)

In [ ]:
!pip install fpdf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fpdf
  Downloading fpdf-1.7.2.tar.gz (39 kB)
Building wheels for collected packages: fpdf
  Building wheel for fpdf (setup.py) ... done
  Created wheel for fpdf: filename=fpdf-1.7.2-py2.py3-none-any.whl size=40725 sha256=d64b98f61f89c94e144e4a69f828e99e776dc9c6ba1868ccc7c7e6d3a91c587b
  Stored in directory: /root/.cache/pip/wheels/d7/ca/c8/86467e7957bbbcbdf4cf4870fc7dc95e9a16404b2e3c3a98c3
Successfully built fpdf
Installing collected packages: fpdf
Successfully installed fpdf-1.7.2

In [ ]:
from fpdf import FPDF
  
# save FPDF() class into
# a variable pdf
pdf = FPDF()  
  
# Add a page
pdf.add_page()
  
# set style and size of font
# that you want in the pdf
pdf.set_font("Arial", size = 15)
 
# open the text file in read mode
f = open("world.txt", "r")
 
# insert the texts in pdf
for x in f:
    pdf.cell(200, 10, txt = x, ln = 1)
  
# save the pdf with name .pdf
pdf.output("mygfg.pdf")

''

In [1]:
!pip3 install pdfplumber

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pdfplumber
  Downloading pdfplumber-0.7.1-py3-none-any.whl (39 kB)
Collecting Wand>=0.6.7
  Downloading Wand-0.6.7-py2.py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 11.5 MB/s
Collecting Pillow>=9.1
  Downloading Pillow-9.2.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 62.0 MB/s
Collecting pdfminer.six==20220524
  Downloading pdfminer.six-20220524-py3-none-any.whl (5.6 MB)
     |████████████████████████████████| 5.6 MB 25.0 MB/s
Collecting cryptography>=36.0.0
  Downloading cryptography-37.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 41.9 MB/s
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20220524->pdfplumber) (2.1.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=36.0.0->pdfminer.six==20220524->pdfplumber) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20220524->pdfplumber) (2.21)
Installing collected packages: cryptography, Wand, Pillow, pdfminer.six, pdfplumber
  Attempting uninstall: Pillow
    Found existing installation: Pillow 7.1.2
    Uninstalling Pillow-7.1.2:
      Successfully uninstalled Pillow-7.1.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed Pillow-9.2.0 Wand-0.6.7 cryptography-37.0.4 pdfminer.six-20220524 pdfplumber-0.7.1

In [2]:
import pdfplumber

In [3]:
!pip3 install python-docx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     |████████████████████████████████| 5.6 MB 9.5 MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=fa57d64896c41b9976f37fec9d2c4e13b4bd3b83a2f908edf82898d9e4fc620e
  Stored in directory: /root/.cache/pip/wheels/f6/6f/b9/d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [5]:
from docx import Document

In [4]:
!pip install translate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting translate
  Downloading translate-3.6.1-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from translate) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from translate) (2.23.0)
Collecting libretranslatepy==2.1.1
  Downloading libretranslatepy-2.1.1-py3-none-any.whl (3.2 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from translate) (4.2.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->translate) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->translate) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->translate) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->translate) (2.10)
Installing collected packages: libretranslatepy, translate
Successfully installed libretranslatepy-2.1.1 translate-3.6.1

In [20]:
s = "Say we have 15 rupees. Price per unit of each good is Re 1. There are"
translator= Translator(to_lang="hi")
translation = translator.translate(s)
print(translation)

मान लीजिए कि हमारे पास 15 रुपये हैं। प्रत्येक वस्तु की प्रति इकाई कीमत 1 रुपये है। वहां हैं

In [21]:
from translate import Translator
def translate1(n):
  translator= Translator(to_lang="hi")
  translation = translator.translate(str(n))
  s = "my name is"
  return translation

In [11]:
with pdfplumber.open(r"/content/tryaanderror.pdf") as p:
 page= p.pages[12]
 cont = page.extract_tables()
print(cont)

[[['Marginal utility of per rupee', None, None, None, None, None], ['Units of \ngoods', 'A1', 'A2', 'A3', 'A4', 'A5'], ['1', '20', '14', '18', '20', '14'], ['2', '16', '12', '16', '16', '12'], ['3', '12', '10', '14', '14', '8'], ['4', '8', '8', '12', '12', '4'], ['5', '4', '6', '10', '8', '2'], ['6', '2', '4', '8', '4', '1']]]

In [27]:
row = "Marginalutilityofperrupee"
match_start = "Marginal utility of per rupee"

if row in match_start:
  print("yes")

In [40]:
import pdfplumber
#from openpyxl import Workbook
with pdfplumber.open(r"/content/tryaanderror.pdf") as f:
     document = Document() 
     l1=[]
     #workbook = Workbook()  #New blank Excel workbook 
     #sheet = workbook.active  #activation sheet
     for i in range(12,13):  #Traverse 69 pages-75 page
        page = f.pages[i]
        cont = page.extract_text()
        tables = page.extract_tables() #Extract table data
        #print(tables[0][0][0])
        #print(len(tables[0][0]))
        if len(tables)==0:
          result = translate1(cont)
          p = document.add_paragraph(result)
        else:
          records = tables[0]
          for i in range(len(records)):
            for j in range(len(records[0])):
              if not records[i][j]:
                records[i][j]=''

          lines = cont.split('\n')
          match_start = "".join(records[0])
          match_end = "".join(records[-1])
          print(len(records[0]))
          table_no = 1
          flag = 0
          
          for line in lines:  #Traverse all rows
            if flag==0:
              row = line.replace(' ',' ')
              #print(row)
              #print("******")
              #print(match_start)
              if row in match_start:
                flag=1
                table = document.add_table(rows=0,cols=len(records[0]))
                table.style = 'Table Grid'
                for i in range(len(records)):
                  row_cells = table.add_row().cells
                  for j in range(len(records[0])):
                    if records[i][j]:
                      row_cells[j].text = translate1(records[i][j])
                if(table_no!=len(tables)):
                    records = tables[table_no]
                    table_no+=1
                    for i in range(len(records)):
                      for j in range(len(records[0])):
                        if not records[i][j]:
                          records[i][j]=''
                    match_start = "".join(records[0])
                    match_end = "".join(records[-1])
              else:
                  #print(line)
                  result = translate1(line)
                  print(result)
                  print("******")
                  print(line)
                  print("******")
                  print(line)
                  if line==lines[0]:
                    p = document.add_paragraph(result)
                  else:
                    p.add_run(result)
            else:
              row = line.replace(' ','')
              if row in match_end:
                flag=0

document.save("pranjal22.docx")

6
• मान लीजिए कि हमारे पास 15 रुपये हैं।      प्रत्येक वस्तु की प्रति इकाई कीमत 1 रुपये है।  वहां हैं
******
          •  Say   we   have     15  rupees.      Price    per   unit   of  each    good     is Re   1.  There     are
******
          •  Say   we   have     15  rupees.      Price    per   unit   of  each    good     is Re   1.  There     are
पांच सामान उपलब्ध हैं।
******
             five  goods     available.
******
             five  goods     available.
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 03 MINUTES 00 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                    Units   of
******
                    Units   of
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 03 MINUTES 00 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                                       A1             A2             A3             A4             A5
******
                                       A1             A2             A3             A4             A5
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 02 MINUTES 59 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                     goods
******
                     goods
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 02 MINUTES 46 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                         1             20             14             18             20             14
******
                         1             20             14             18             20             14
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 02 MINUTES 33 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                         3             12             10             14             14              8
******
                         3             12             10             14             14              8
MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  02 HOURS 02 MINUTES 20 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE
******
                         4              8              8             12             12              4
******
                         4              8              8             12             12              4

In [ ]:
document.save("pranjal.docx")